/* ------------------- Base ---------------------*/
* {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  color: #2a2f59;
}

@font-face {
  font-family: "montserratbold"; 
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "opensansbold"; 
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "opensansregular"; 
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsbold"; 
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "montserratbold", sans-serif;
}

h1, h2 {
  text-transform: uppercase;
}

h2 {
  font-family: "poppinsbold", sans-serif;   
  font-size: 1.5rem;
  letter-spacing: 5px;
  line-height: 2;
  font-weight: 900;
  text-align: center;
  margin: 2em 0 1.5em;
}

h3 {
  font-family: "opensansbold", sans-serif;
  font-weight: 900;
  margin-bottom: 10px;
  font-size: 0.9em;
  line-height: 2;
}

p {
  font-family: "opensansregular", sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
}

/* buttons */

button {
  background: #1a2040;
  color: white;
  padding: 14px 0;
  border: none;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: #2a2f59;
  border: 1px solid #2a2f59;
}

/* forms */

input::placeholder,
textarea::placeholder {
  font-family: "poppinsbold", sans-serif;
  color: #2a2f59;
  font-size: 0.9rem;
  font-weight: 900;
  padding-left: 10px;
  letter-spacing: 3px;
}

/* ----------------- FLEX CONTAINER ---------------- */

.row {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.flex-container {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.flex-texts {
  display: flex;
  max-width: 1100px;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
  padding: 0.5rem 1.2rem 2rem;
  margin: auto;
}

/* ----------------------- HEADER ---------------------- */

/* logo */
.logo img {
  max-width: 20%;
  padding: 100px 0px 30px 0px;
}

/* font-awsome & hamburgermenu */
.fa-phone:before, .menu-icon, #menu-toggle  {
  display: none;
}

/* Close button */
.close-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

/* Navigation */
.nav-links {
  font-family: "montserratbold", sans-serif;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav-links ul {
  display: flex;
  gap: 60px;
  padding-bottom: 2rem;
}

.nav-links a {
  text-decoration: none;
  font-size: 0.95rem;
  letter-spacing: 1px;
  color: #2a2f59;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-links a:hover {
  border-bottom: 2px solid #2a2f59;
}

/* ------------------- FRONT IMAGE ---------------------- */

.front-image {
  background-image: url('../images/front-image.jpg');
  width: 100%;
  height: 680px;
  background-position: center;

}

/* -------------------- TITEL + TEXT -------------------- */

.titles {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 2rem;
}

/* ----------------------- FLEX TEXTS ------------------- */

.flex-item {
  flex: 1;
  gap: 15px;
  padding: 2px;
}

/* -------------------- HORESE IMAGE -------------------- */

.horse {
   background-image: url(../images/horse.jpg);
   width: 100%;
   height: 400px;
   background-size: cover;
   background-repeat: no-repeat;
}

/* ----------------------- FOOTER ----------------------- */
footer {
  width: 100%;
  background-color: #ebf0ed;
  height: 100px;
}

.footer {
  padding: 0px;
}

/* socials */

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 150px;
  height: 100px;
  margin: 0 auto;
}

.socials a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #2a2f59;
  align-items: center;
  width: 40px;
  height: 40px;
}

.icon {
  font-size: 20px;
}

/* ---------------------- RESPONSIVE --------------------- */

/* ---------- SMALL PHONES ------------- */
@media (max-width: 425px) {

   body {
    border: 1px solid #2a2f59;
    margin: 20px;
   }

   /* header */
   .flex-container {
    margin-top: 1rem;
    padding: 0px;
   }

   .row {
    display: flex;
    flex-direction: row;
    padding: 10px 20px 0px 20px;
   }

   /* phone icon */
   .fa-solid {
    padding-bottom: 32px;
   }

   .fa-phone { 
    color: transparent;           
    -webkit-text-stroke: 1.5px #2a2f59; 
    font-size: 40px;             
   }
  
   .fa-phone:before {
    display: block;
   }

   /* logo */
   .logo img {
    min-width: 75%;
    padding: 0px 0px 30px 0px;
   }  

   /* hamburger menu */
   .menu-icon {
    display: block;
    color: #2a2f59;
    font-weight: bolder;
    font-size: 2.5rem;
    cursor: pointer;
    transform: scaleY(0.77);
    padding-bottom: 35px;
   }

   .close-icon {
    display: block;
   } 

   .nav-links {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.4s ease;
   }

   .nav-links ul {
    flex-direction: column;
    gap: 1.5rem;
    padding: 0;
   }

   .nav-links a {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #2a2f59;
    letter-spacing: 1px;
   }

   #menu-toggle:checked ~ .nav-links {
    display: flex;
    opacity: 1;
    transform: translateY(0);
   }

   #menu-toggle:checked + .menu-icon {
    display: none;
   }
  
   #menu-toggle:checked ~ .close-icon {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
   }

  /* front image */

  .front-image {
    background-position-x: 57%;
    background-position-y: 40%;    
  }

  /* Titles */

  .titles {
    text-align: left;
    padding-top: 10px;
  }

  h2, p {
    text-align: left;
  }

  h2 {
    font-size: 1.1rem;
    letter-spacing: 3px;
    line-height: 1.5rem;
  }
  
  /* Flex Texts */

  .flex-texts {
    flex-direction: column;
  }

  /* Horse Image */
  
  .horse {
    background-position-x: 41%;
    background-position-y: 19%;
  }

  /* Footer */

  .footer-logo img {
    width: 90%;
  }
}

@media (min-width: 768px) {

  /* Titles */

  .titles {
    padding: 1rem 2rem;
  }

  .titles  h3 {
   padding: 0px 10px;
  }

  /* Horse Section */

  .horse {
    margin-bottom: 6rem;
  }
}

